.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff8f2;
  min-height: 100vh;
  max-width: 100vw;
  padding: 47px 90px;

  h2 {
    text-transform: capitalize;
    margin: 0;
  }
}

.App-header {
  margin: 0 auto;
  height: fit-content;
}

.Form {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  margin-top: 10px;
  height: fit-content;
}

.Breed {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.Menu {
  margin: 0;
  padding: 0;
  span {
    text-transform: capitalize;
    margin-right: 16px;
  }
  li {
    list-style: none;
  }
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}
